<a href="https://colab.research.google.com/github/bubs-art/Data-Analytics/blob/main/Pandas_major_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

HR = pd.read_csv("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv")
h = HR.dropna()

#Department wise count
h.groupby('Department')['Department'].value_counts()

#Education Field wise count
h.groupby('EducationField')["EducationField"].value_counts()

#Maritial status with job roles
h.groupby('MaritalStatus')["JobRole"].value_counts()

#Monthly income
m = h.groupby('MonthlyIncome')["JobRole"].sum()
m.sort_values(ascending = False)

#People who work more than 10 years
mv = h.loc[h['TotalWorkingYears']>12]
mv.groupby('JobRole')["JobRole"].value_counts()

JobRole
Healthcare Representative    60
Human Resources               8
Laboratory Technician        32
Manager                      95
Manufacturing Director       54
Research Director            68
Research Scientist           43
Sales Executive              94
Sales Representative          9
Name: count, dtype: int64